<header class="snap" id="setting">
    <div class="wrap">
        <a href="/" id="logo"><img src="/img/logo_color.png" alt="home" title="home" style="width:100%;height:auto;"></a>
        <button type="button" name="button" class="clear" id="back" onclick="window.history.back()"><?=$this->lang->line('BACK');?></button>
        <p class="title snap"><?=$this->lang->line('change<br> withdraw password');?></p>
        <p class="title_nano"><?=$this->lang->line('To protect your personal informations and important assets, please change your password regularly')?>.</p>
    </div>
</header>
<? include "menu.html"; ?>
<section id="content" class="snap">
    <form  class="snap" id="edit_paypw"  action="<?=current_url()?>" method="post"  onsubmit="return formCheck(this)">
        <div class="wrap">
            <div class="inputs">
                <span class="label snap2" data="now_paypw"><?= $this->lang->line('Current Password'); ?></span>
                <input class="default hinted" type="password" name="now_paypw" id="now_paypw" required pattern="[0-9]{6}">
                <label for="password"><?=$this->lang->line('Enter current Password');?>.</label>
            </div>
            <div class="inputs">
                <span class="label snap2" data="new_paypw"><?=$this->lang->line('New Password');?></span>
                <input class="default hinted" type="password" name="new_paypw" id="new_paypw" required pattern="[0-9]{6}">
                <label for="new_password"><?=$this->lang->line('Enter new Password, 6 characters consisting of  numbers');?>.</label>
            </div>
            <div class="inputs" style="margin-bottom:0;">
                <span class="label snap2" data="new_paypw_1"><?=$this->lang->line('Confirm New Password');?></span>
                <input class="default hinted" type="password" name="new_paypw_1" id="new_paypw_1" required pattern="[0-9]{6}">
                <label for="newpw2"><?=$this->lang->line('Confirm your new Password');?>.</label>
            </div>
            <button type="submit" name="button" class="default active"><?=$this->lang->line('EDIT AND SAVE');?></button>
        </div>

</section>
</form>
</div>
<!-- script -->
<script src="/js/action.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $height = $('header').height()-20;
        $('#content').css({'padding-top':$height});
    });

    function formCheck(frm) {




        var  password =  $("#now_paypw").val();
        var  new_password =  $("#new_paypw").val();
        var  new_password_confirm =  $("#new_paypw_1").val();



        if (frm.now_paypw.value == frm.new_paypw.value) {
            alert("<?=$this->lang->line('이전비밀번호와 새비밀번호가 같습니다.');?>");
            frm.new_paypw.focus();
            return false;
        }

        else if (frm.new_paypw.value != frm.new_paypw_1.value) {
            alert("<?=$this->lang->line('새 비밀번호 확인이 틀립니다.');?>");
            frm.new_paypw.focus();
            return false;
        }else{
            return true;

        }



    }
</script>


</body>
</html>
