
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond $1 !^(index\.php|images|js|css|img|captcha|asset|lib|attach|robots\.txt|test\.php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php/$1 [L]
</IfModule>

<IfModule mod_url.c>
   CheckURL  Off
</IfModule>
SetEnvIfNoCase User-Agent "bingbot" !go_out

